body{
    margin:0;
}

#first_section{
    width: 100vw;
    min-height: 100vh;
    background-image: url("./assets/test.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
  margin: 0;
}


header{
    margin-top: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
}

#title{
    color: white;
    margin-top: 18px;
    text-align: center;
    width: 10%;
    height: 50px;
    margin-left: 40px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    align-self: end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}


#middle_section_first_page{
    width: 100%;
    color: white;
}

#info_section {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}
#info_section p{
    font-size: 100px;
    margin-left: 90px;
    
}


#picture_of_me{
    margin-right: 300px;
    width: 500px;
    height: 500px;
    background-color: rgb(27, 26, 26);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture_of_me > div{
    
    width: 250px;
    height: 250px;
    background-image: url("./assets/test.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro_text{
    font-family: fantasy;
    padding: 50px;
    width: 100vw;
    height: 30%;
    font-size: 350px;
    color: rgb(255, 255, 255);
    text-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    
}

#second_section{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(56, 56, 56);
}