



body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    background-color: rgb(255, 255, 255);
}


/*FIRST SECTION --------------------------------------------------------------------------------------------------------------------------------------------------*/

#first_section{
    width: 100vw;
    min-height: 100vh;
    background-image: url("./assets/test.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

h1{
  margin: 0;
}


header{
    margin-top: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
}

#title{
    color: white;
    margin-top: 18px;
    text-align: center;
    width: 10%;
    height: 50px;
    margin-left: 40px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    align-self: end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    
}


#middle_section_first_page{
    width: 100%;
    color: white;
}

#info_section {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

#info_section p{
    font-size: 150px;
    margin-left: 90px;
    
}


#picture_of_me{
    margin-right: 300px;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture_of_me > div{
    
    width: 250px;
    height: 250px;
    background-image: url("./assets/test.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro_text_container{
    display: flex;
    width: 100%;
    height: 100%;
}
.intro_text_1{

    margin-left: 100px;
    width: 100vw;
    height: 30%;
    font-size: 350px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    position: relative;
}

.intro_text_2{
    
    
    width: 100vw;
    height: 30%;
    font-size: 350px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    position: relative;
;
}


@media screen and (max-width:2000px) {
    #info_section p{
        font-size: 120px;
        margin-left: 90px;
        
    }
    .intro_text_1{
        margin-left: 100px;
        width: 100vw;
        height: 30%;
        font-size: 250px;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        position: relative;
    }

    #picture_of_me{
        margin-right: 100px;
        width: 500px;
        height: 400px;
        background-color: rgb(0, 0, 0);
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #picture_of_me > div{
        
        width: 250px;
        height: 250px;
        background-image: url("./assets/test.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}



/*SECOND SECTION START ----------------------------------------------------------------------------------------------------*/

#second_section{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#second_section_content_container{
    margin-top: 200px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.what_i_do{
    display: flex;
    width: 70%;
    height: 600px;
    justify-content: space-between;
}
.text_what_i_do{
    width: 50%;
    height: 100%;
    font-size: 50px;
    line-height: 70px;
}

.little_more_text_what_do_i_do_container{
    width: 40%;
    height: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.little_more_text_what_do_i_do{
    margin-top: 5px;
    width: 70%;
    line-height: 38px;
    font-size: 18px;
}

.the_ball_what_do_i_do{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background-color 0.3s ease;
}

.the_ball_what_do_i_do:hover{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color:rgb(30, 110, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#header_for_recent_work{
    font-size: 20px;
    margin-left: 255px;
    align-self: start;
    margin-bottom: 100px;
}


.pixel_game{
    display: flex;
    width: 80%;
    height: 250px;
    justify-content: space-between;
    align-items: center;
}

#title_forwork{
    font-size: 100px;
}

#description_what_it_was_for_job{
    font-size: 20px;
}


.template1{
    display: flex;
    width: 80%;
    height: 250px;
    justify-content: space-between;
    align-items: center;
}



.template2{
    display: flex;
    width: 80%;
    height: 250px;
    justify-content: space-between;
    align-items: center;
}

.template3{
    display: flex;
    width: 80%;
    height: 250px;
    justify-content: space-between;
    align-items: center;
}


.line{
    width: 100%;
    height: 2px;
    background-color: rgb(193, 187, 187);
}




