body{
    margin: 0;
    box-sizing: border-box;
}

#first_page_div{
    min-width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 120px);
}

#white_rec_side{
    grid-column: 1/5;
    grid-row: 1/13;
    background-color: white;
    display: flex;
    justify-content: end;
}


#turquiose_rec{
    grid-column: 5/13;
    grid-row: 1/13;
    background-color: white;
    background-color: rgb(134, 241, 216)
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8%;
}


nav{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 550px;
    height: 100%;
    gap: 50px;
    align-items: center;
}

li{
   width: 100%;
   height: 100%;
}

#slider_dark_light_mode{
    margin-left: 50px;
    width: 100px;
    height: 30px;
    border-radius: 40px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
}

#the_circle_in_slider{
    margin-left: 5px;
    margin-bottom: 2px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: white;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 100px;
    margin-top: 35px;
    color: blueviolet;
    font-size: 35px;
}

#test{
    margin-left: 10px;
    width: 700px;
    height: 700px;
    grid-column: 3/7;
    grid-row: 3/9;
    z-index: 100;
}


#introduction_text{
    
    width: 70%;
    grid-column: 8/12;
    grid-row: 4/9;
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

.highlighted{
    color:transparent ;
    -webkit-text-stroke: 1.5px black;
}









  @media (max-width: 2204px) {

    #test{
        width: 600px;
        height: 600px;
    }

    #introduction_text{
        width: 60%;
        grid-column: 8/12;
        grid-row: 4/9;
        font-size: 65px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
    }
  }






  /*THIS here is the start of where my laptop witdth*/


  @media (max-width: 1942px) {


    #first_page_div{
        min-width: 100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 100px);
    }

    #test{
        width: 600px;
        height: 600px;
    }

    #introduction_text{
        width: 70%;
        grid-column: 8/12;
        grid-row: 4/9;
        font-size: 55px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
    }
  }


  @media (max-width: 1612px) {


    #first_page_div{
        min-width: 100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 90px);
    }

    #test{
        width: 500px;
        height: 500px;
    }

    #introduction_text{
        width: 70%;
        grid-column: 8/12;
        grid-row: 4/9;
        font-size: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
    }


    #my_work{
        background-color: #D9E7C8;
        min-width: 100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 90px);
    }
  }


  @media (max-width: 1250px) {


    #first_page_div{
        min-width: 100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 90px);
    }

    #test{
        width: 450px;
        height: 450px;
    }

    #introduction_text{
        width: 70%;
        grid-column: 8/12;
        grid-row: 4/9;
        font-size: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
    }

    #my_work{
        background-color: #D9E7C8;
        min-width: 100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 90px);
    }
  }




  #my_work{
    background-color: #D9E7C8;
    min-width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 120px);
  }


  

  #one {
        width: 500px;
        height: 500px;

        background-color: rgb(150, 150, 150);
  }

  #two {
    
  }

  #three {
    
  }

  #four {
    
  }